<div class="stepsContainer">
  <div id="navContainer">
    <div
      *ngFor="let step of steps; let index = index"
      [class.currentStep]="isCurrentStep(step)"
    >
      <button mat-button
              (click)="stepButtonClicked(step)"
              [disabled]="!step.active()"
      >
        {{ (index + 1) + '. ' + (step.titleTK | translate) }}
      </button>
    </div>
  </div>
  <div id="activeStepContainer" *ngIf="currentStep">
    <ng-container *ngTemplateOutlet="currentStep.template"></ng-container>
  </div>
</div>
