.stepsContainer {
  width: 100%;
  
  .currentStep {
    button {
      text-decoration: underline;
    }
  }

  #navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button {
      font-size: 125%;
    }
  }

  #activeStepContainer {
    margin-top: 25px;
    padding: 0 15px;
  }
}
