.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.titleContainer {
  $size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc($size * 0.66);
  margin-bottom: 10px;

  .socialImage {
    height: $size;
  }

  .title {
    font-size: $size;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

  .cardContainer {
    $contact-image-size: 150px;
    $category-image-size: 40px;
    $spacing: 10px;

    width: calc($contact-image-size + $spacing * 4);
    border-radius: 10px;
    padding: calc($spacing * 2) $spacing;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;

    .contactImage {
      border-radius: calc($contact-image-size / 3);
      width: $contact-image-size;
      height: $contact-image-size;
    }

    .name {
      margin: 0;
    }

    .descriptionContainer {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .description {
      overflow-wrap: break-word;
      white-space: pre-wrap;
      margin: calc($spacing / 2) 0;
      vertical-align: middle;
    }

    .categoryImage {
      height: $category-image-size;
    }
  }
}
