.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.titleContainer {
  $size: 35px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc($size * 0.66);
  margin-bottom: 10px;
  
  .socialImage {
    height: $size;
  }
  
  .title {
    font-size: $size;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

  .cardContainer {
    $contact-image-size: 150px;
    $category-image-size: 40px;
    $spacing: 10px;

    width: calc($contact-image-size + $spacing * 4);
    border-radius: 10px;
    padding: $spacing;

    display: flex;
    flex-direction: column;
    align-items: center;

    .contactImage {
      border-radius: calc($contact-image-size / 3);
      width: $contact-image-size;
      height: $contact-image-size;
      margin-bottom: $spacing;
    }

    .id {
      margin-bottom: 5px;
    }

    .description {
      overflow-wrap: break-word;
      margin-bottom: $spacing;
      white-space: pre-wrap;
    }
    
    .spacer {
      flex-grow: 1;
    }

    .categoryImage {
      height: $category-image-size;
    }
  }
}
