<div class="contentContainer">
  <div *ngIf="contacts.length">
    <div class="cardsContainer">
      <div
        *ngFor="let contact of contacts"
        class="cardContainer cardBackground mat-elevation-z8 hoverEffect"
        [class.pointer]="contact.url"
        (click)="contact.url ? openURL(contact) : null"
      >
        <img class="contactImage" [src]="contact.image" [alt]="contact.name"/>
        <h2 class="id text-center noSelect">{{ contact.name }}</h2>
        <p class="description text-center noSelect">{{ contact.descriptionTK | translate }}</p>
        <div class="spacer"></div>
        <img class="categoryImage" [src]="'assets/images/' + contact.category" [alt]="contact.name"/>
      </div>
    </div>
  </div>
</div>
