<div class="toolbarContainer darkerBackground">
  <!-- LEFT -->
  <div class="languages">
    <ul>
      <li
        class="pointer"
        *ngFor="let lang of languages | keyvalue"
        (click)="changeLang(lang.value)"
        [class.isCurrentLanguage]="isCurrentLanguage(lang.value)"
      >
        <img [src]="'assets/images/flags/' + lang.value + '.png'" [alt]="lang.key">
      </li>
    </ul>
  </div>

  <!-- MIDDLE -->
  <div id="navbar">
    <button mat-icon-button (click)="goToHome()"><mat-icon>home</mat-icon></button>
  </div>

  <!-- RIGHT -->
  <div id="right">
    <mat-slide-toggle
      id="themeSwitcher"
      #themeSwitcher
      disableRipple
      [checked]="
      isDarkTheme"
      (change)="changeTheme($event)"
    ></mat-slide-toggle>
  </div>
</div>
