.toolbarContainer {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#right {
  display: flex;
  align-items: center;
  gap: 10px;
}
