<div class="navBarContainer">
  <div *ngFor="let section of sections" class="section">
    <h1 class="sectionTitle eventTextColor">{{ section.name | translate }}</h1>
    <ul class="sectionElements">
      <li *ngFor="let element of section.elements" class="sectionElement" [routerLink]="getRoute(element.route)"
          routerLinkActive="isActive">
        <button mat-button>
          <div class="d-flex">
            <span class="eventTextColor">{{ element.route.title | translate }}</span>
            <app-tag [tags]="getTags(element)" *ngIf="element.beta"></app-tag>
          </div>
        </button>
      </li>
    </ul>
  </div>
</div>
