.underConstructContainer {
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  
  &::before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    width:0;
  }

  img {
    max-width: 50%;
    max-height: 50%;
  }
}
