<mat-toolbar class="toolbarContainer">
  <!-- LEFT -->
  <div id="langChooser">
    <ul>
      <li
        class="pointer"
        *ngFor="let lang of languages | keyvalue"
        (click)="changeLang(lang.value)"
        [class.isCurrentLanguage]="isCurrentLanguage(lang.value)"
      >
        <img [src]="'assets/images/flags/' + lang.value + '.png'" [alt]="lang.key">
      </li>
    </ul>
  </div>
  
  <!-- MIDDLE -->
  <div id="navbar">
    <app-navbar-item 
      *ngFor="let item of navBarItems" 
      [item]="item"
    ></app-navbar-item>
  </div>

  <!-- RIGHT -->
  <div id="themeChooser">
    <mat-slide-toggle
      #themeSwitcher
      disableRipple
      [checked]="toolbarSettings?.theme === darkTheme"
      (change)="changeTheme($event)"
    ></mat-slide-toggle>
  </div>
</mat-toolbar>
