<div class="dropzoneContainer">
  <div
    class="dropzone"
    [class.over]="dropzoneOver"
    appDragAndDrop
    (filesDropped)="filesDropped($event)"
    (dragLeave)="dropzoneOver = false"
    (dragOver)="dropzoneOver = true"
  >
    <h3>{{ 'common.dnd.drop_files' | translate }}</h3>
    <button
      mat-raised-button
      (click)="uploadInput.click()"
      [disabled]="disabled"
    >{{ 'common.dnd.upload_button' | translate }}</button>
    <input
      #uploadInput
      hidden
      type="file"
      webkitdirectory
      multiple
      directory
      (change)="filesSelected($event)"
    />
  </div>

</div>
