&.withEventTextColor {
  .eventTextColor {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,
      #E40303,
      #FF8C00,
      #FFED00,
      #008026,
      #24408E,
      #732982
    ) !important;
  }
}

&.withEventBanner {
  #eventBanner {
    background: linear-gradient(to right,
      #E40303 0%, #E40303 16.66%,
      #FF8C00 16.66%, #FF8C00 33.32%,
      #FFED00 33.32%, #FFED00 49.98%,
      #008026 49.98%, #008026 66.64%,
      #24408E 66.64%, #24408E 83.3%,
      #732982 83.3%, #732982 100%
    ) !important;
  }
}
