#memoryLeakWarning {
  background-color: orange;
  padding: 10px;
  color: #212121;
  border-radius: 5px;
  
  p {
    word-wrap: break-word;
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0;
  }
}

#buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  > * {
    flex: 1 1 0;
    min-width: fit-content;
  }
}

.divider {
  margin: 10px 0;
}

#infoContainer {
  margin-top: 10px;

  #worldName {
    font-size: 20px;
    text-align: center;
  }

  #folderRadioButtonGroup {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
}

#analyzeStatus {
  #analyzeStatusContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;

    #analyzeSquare {
      display: grid;
      grid-template-columns: repeat(32, 10px);
      grid-template-rows: repeat(32, 10px);
      grid-gap: 2px;
      border: 1px solid black;
    }
  }
}

.chunk {
  width: 10px;
  height: 10px;
}

.empty {
  border: 1px solid darkorange;
}

.skipped {
  border: 1px solid gray;
}

.analyzed {
  background-color: yellowgreen;
}

.error {
  background-color: red;
}

#analyzeLegend {
  display: flex;
  gap: 5px;
}
