.datassetsContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 50%;

  .selectContainer {
    margin-bottom: 10px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;

    div {
      flex-grow: 1;

      button {
        width: 100%;
      }
    }
  }
}
