#mainContainer {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  
  #topContainer {
    
  }
  
  #middleContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;

    #navbarContainer {
      background-color: red;
      flex-shrink: 0;
    }

    #contentContainer {
      width: 100%;
    }
  }
  
  #bottomContainer {
  }
}
