@use './node_modules/@angular/material/index' as mat;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './node_modules/@angular/material/theming';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/themes';

body, html {
  width: 100%;
  height: 100%;
}

* {
  font-family: $app-font-family;
}

.contentContainer {
  padding: 15px 10px
}

// -------------------------------------- //
//               FORM FIELDS              //
// -------------------------------------- //

mat-form-field {
  width: 100%;
  
  &.hideHintWrapper {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
