@use './node_modules/@angular/material/index' as mat;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './node_modules/@angular/material/theming';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/themes';

html, body {
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

* {
  font-family: $app-font-family;
}

.contentContainer {
  padding: 15px 10px;
}

.languages {
  :not(.isCurrentLanguage) > img {
    opacity: 0.45;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      img {
        width: 30px;
        height: 30px;
      }
    }

    li:not(:last-child) {
      padding-right: 15px;
    }
  }
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

  .cardContainer {
    $contact-image-size: 150px;
    $category-image-size: 40px;
    $spacing: 10px;

    width: calc($contact-image-size + $spacing * 4);
    border-radius: 10px;
    padding: calc($spacing * 2) $spacing;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;

    .contactImage {
      border-radius: calc($contact-image-size / 3);
      width: $contact-image-size;
      height: $contact-image-size;
    }

    .name {
      margin: 0;
    }

    .descriptionContainer {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {
      overflow-wrap: break-word;
      white-space: pre-wrap;
      margin: calc($spacing / 2) 0;
      vertical-align: middle;
    }

    .categoryImage {
      height: $category-image-size;
    }

    &:hover .categoryImage {
      animation: categoryImageAnimation 1s;
    }
  }

  @keyframes categoryImageAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// -------------------------------------- //
//               FORM FIELDS              //
// -------------------------------------- //

mat-form-field {
  width: 100%;
  
  &.hideHintWrapper {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

// -------------------------------------- //
//                 EVENTS                 //
// -------------------------------------- //
#eventBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px;
}

.prideMonth {
  @import "assets/styles/events/pride_month";
}
