@use './node_modules/@angular/material/index' as mat;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './node_modules/@angular/material/theming';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/themes';

body, html {
  width: 100%;
  height: 100%;
}

* {
  font-family: $app-font-family;
}

.dark {
  @include mat.all-component-colors($app-dark-theme);
}

.contentContainer {
  padding: 5px;
}

// -------------------------------------- //
//               FORM FIELDS              //
// -------------------------------------- //

mat-form-field {
  width: 100%;
}
