@use './node_modules/@angular/material/index' as mat;

@import './node_modules/@angular/material/theming';
@import 'src/assets/styles/common';
@import 'src/assets/styles/variables';

$app-theme-primary: mat.define-palette(mat.$green-palette, 500, 100, 900);
$app-theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-theme-warn: mat.define-palette(mat.$red-palette);

$app-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $app-theme-primary,
        accent: $app-theme-accent,
        warn: $app-theme-warn,
      ),
    )
);
$dark-foreground-palette: map-get($app-dark-theme, foreground);
$dark-background-palette: map-get($app-dark-theme, background);

$app-light-theme: mat.define-light-theme(
    (
      color: (
        primary: $app-theme-primary,
        accent: $app-theme-accent,
        warn: $app-theme-warn,
      ),
    )
);
$light-foreground-palette: map-get($app-light-theme, foreground);
$light-background-palette: map-get($app-light-theme, background);
