<ng-container *ngIf="chunk">
  <ng-container>
    <app-key-value key="minecraft.world_analyzer.chunk_details.sector_offset" [value]="chunk.header?.sectorOffset?.toString()"></app-key-value>
    <app-key-value key="minecraft.world_analyzer.chunk_details.size" [value]="chunk.header?.size?.toString()"></app-key-value>
  </ng-container>

  <ng-container *ngIf="chunkData">
    <app-key-value key="minecraft.world_analyzer.chunk_details.xPos" [value]="chunkData.data.Level?.xPos?.toString()"></app-key-value>
    <app-key-value key="minecraft.world_analyzer.chunk_details.zPos" [value]="chunkData.data.Level?.zPos?.toString()"></app-key-value>
    <app-key-value key="minecraft.world_analyzer.chunk_details.status" [value]="chunkData.data.Level?.Status?.toString()"></app-key-value>
    <app-key-value key="minecraft.world_analyzer.chunk_details.last_update" [value]="chunkData.data.Level?.LastUpdate?.toString()"></app-key-value>
  </ng-container>
</ng-container>
