.fileListExpansionPanel {
  margin-top: 10px;
  
  .fileListContainer {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;

    p {
      font-family: 'Consolas';
      margin: 0;
    }
  }
}

.startAnalyzeButton {
  width: 100%;
}
